<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
</head>
<body>
<h2>로그인</h2>

<div th:if="${errorMessage}">
  <p th:text="${errorMessage}">로그인 오류 발생</p>
</div>

<form th:action="@{/login}" method="post">
  <input type="text" name="ypgwId" placeholder="아이디"/><br/>
  <input type="password" name="password" placeholder="비밀번호"/><br/>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">로그인</button>
</form>
</body>
</html>